{% extends 'base.html.twig' %}
{% block body %}
<div class="btn-default row justify-content-center align-items-center pt-5">
    <button class="btn border btn-primary btn-lg btn-block btn-hug rounded-pill hgbutton w-50">Create
        new
        project
    </button>
</div>
    {%endblock%}



